<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paul's Blog</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {%- for post in collections.posts -%}
                        <li><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></li>
                    {%- endfor -%}
                </ul>
            </nav>
            <h1>{{ pageTitle }}</h1>
            <span>Created at: {{ page.date | toUTC }}</span>
            <span>Last modified: {{ lastModified }}</span>
        </header>
        <article>
            {{ content }}
        </article>
    </body>
</html>